[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-environ = "*"
django-filter = "*"
django-autoslug = "*"
django-countries = "*"
django-phonenumber-field = "*"
pillow = "*"
phonenumbers = "*"
psycopg2-binary = "*"
flake8 = "*"
black = "*"
isort = "*"
djoser = "*"
pyjwt = "*"
redis = "*"
celery = "*"
flower = "*"
django-celery-email = "*"
argh = "*"
pyyaml = "*"
watchdog = "*"
channels = "*"
channels-redis = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
